# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Python
__pycache__/
*.pyc

# Node
node_modules/

# Nuxt
.nuxt/
.output/
dist/

# Summit sessions
.summit/

# Worktrees
worktrees/

# Trash
trash/
tmp/
